

.menu-principal{
    background-color: #133e2ecd;
    height: 60px;
    width: 100%;
    border-bottom:5px solid rgb(0, 0, 0); 
    
}

body{
    width: 100%;
    height: 100%;
    margin: 0;
    background: rgb(194, 194, 194);
    background: linear-gradient(90deg, rgba(63, 159, 92, 0.872) 0%, rgba(30, 106, 69, 0.869) 50%, #20a172cd 100%);
}

main {
    width: 100%;
    position: relative;
    margin: 0 auto;
}
 #logo{
    padding: 15px;
    width: 70%;
    float: left;
    margin-top: -27px;
    margin-left: 200px;
 }
 .nome {
    float: right;
    width: 30%;
    margin-top: -122px;
    margin-right: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
 }

   .header2{
    /* background-color: #86d5b5cd; */
    width: 980px;
    margin: 0 auto;

    padding: 16px;
    height: 15px;

 }

.menu2 ul li {
    display:inline-block;
    color:#8b8b8b;
    margin-left: 15px;
    margin-top: 8px;
    border: #8b8b8b solid 3px;
  
    
}
.menu2 ul li a:hover {
     color: rgb(0, 0, 0);
     border-bottom: 2px dashed rgb(0, 0, 0) ;
}
 .menu2 ul li a {
    color:black;
    text-decoration: none;
    font-size: 17px;
    text-transform: uppercase;
    padding: 15px;
    padding-top: 2px;
    padding-bottom: 2px;

    
 }
  .main-sg{
    border-bottom: 5px solid #000000cd; 
    height: 80px;
    /* background-color: #86d5b5cd; */
  }
    
.menu2{
    width: 70%;
    float: left;
    margin-top: -15px;
    margin-left: -100px ;
    /* background-color: #86d5b5cd; */
} 
 
 .nums{
    margin-left: 35%;
    margin-top: 40px;
 }

 #h1{
    margin-left: 35%;
    font-size: 50px;
    color: rgb(54, 54, 54);
 }



input {
   width: 400px;
   height: 40px;
}


